<div class="article">
  <h3><%= LANGS[translation[:lang].to_i] %></h3>
  <p style="color: red;"><%= error %></p>
  <form action="/admin/engineer_translation" method="post">
    <input type="hidden" name="id" value="<%= translation[:id] %>">
    <input type="hidden" name="engineer_translation[engineer_id]" value="<%= translation[:engineer_id] %>">
    <input type="hidden" name="engineer_translation[lang]" value="<%= translation[:lang] %>">
    <div class="two-col">
      <div class="first-col">
        <label>Ім'я</label>
        <br>
        <label>Адреса (посилання)</label>
        <br>
        <label>Спеціальність</label>
        <br>
        <label>Резюме</label>
      </div>
      <div class="col">
        <input type="text" name="engineer_translation[name]" value="<%= translation[:name] %>">
        <br>
        <input type="text" name="engineer_translation[slug]" value="<%= translation[:slug] %>">
        <br>
        <input type="text" name="engineer_translation[specialty]" value="<%= translation[:specialty] %>">
        <br>
        <textarea rows="6" cols="50" name="engineer_translation[resume]"><%= translation[:resume] %></textarea>
      </div>
    </div>
    <button type="submit">Зберегти</button>
    <br>
    <label>Детальний опис</label>
    <textarea name="engineer_translation[desc]"><%= translation[:desc] %></textarea>
    <br>
    <br>
  </form>
  <script>
    CKEDITOR.plugins.addExternal( 'embed', '/embed/', 'plugin.js' );
    CKEDITOR.plugins.addExternal( 'uploadcare', '/uploadcare_3.0.0/', 'plugin.js' );
    CKEDITOR.replace('engineer_translation[desc]', {height: 600, extraPlugins: 'embed,uploadcare', embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}'});
  </script>
</div>