<div class="admin">
  <div>
    <h3>Статті</h3>
    <a href="/admin/article">Нова сторінка</a>
    <br>
    <br>
    <form action="/admin/article" method="get">
      <input type="hidden" name="dup" value="1">
      <label>Дублювати сторінку</label>
      <br>
      <select name="id">
        <% articles.each do |article| %>
          <option value="<%= article[:id] %>"><%= article[:title] %> [<%= LANGS[article[:lang]] %>]</option>
        <% end %>
      </select>
      на
      <select name="lang">
        <% LANGS.each_with_index do |lang, code| %>
          <option value="<%= code %>"><%= lang %></option>
        <% end %>
      </select>
      <button>Дублювати</button>
    </form>
    <ul>
      <% LANGS.each_with_index do |lang, code| %>
      <h4><%= lang %></h4>
        <% articles.where(parent_id: nil, lang: code).each do |article| %>
          <li>
            <a href="/admin/article?id=<%= article[:id] %>">
              [ID:<%= article[:id] %>] <%= article[:title] %> [<%= LANGS[article[:lang]] %>]
            </a>
            <ul>
              <% articles.where(parent_id: article[:id]).each do |article_1| %>
                <li>
                  <a href="/admin/article?id=<%= article_1[:id] %>">
                    [ID:<%= article_1[:id] %>] <%= article_1[:title] %> [<%= LANGS[article_1[:lang]] %>]
                  </a>
                  <ul>
                  </ul>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      <% end %>
    </ul> 
  </div>
  <div>
    <h3>Головна сторінка</h3>
    <a href="/admin/slider">Новий слайдер</a>
    <br>
    <br>
    <% sliders.each do |slider| %>
      <a href="/admin/slider?id=<%= slider[:id] %>"><%= slider[:text_ua].slice(0, 50) %></a>
      <br>
    <% end %>
    <hr>
    <h3>Спеціальності</h3>
    <a href="/admin/specialty">Нова спеціальність</a>
    <br>
    <br>
    <% specialties.each do |specialty| %>
      <a href="/admin/specialty?id=<%= specialty[:id] %>"><%= "#{specialty[:name_ua]} #{specialty[:name_ru]} #{specialty[:name_en]}" %></a>
      <br>
    <% end %>
  </div>
  <div>
    <h3>Команда</h3>
    <a href="/admin/engineer">Новий інженер</a>
    <br>
    <% engineers.each do |engineer_id, translations| %>
      <p>
        <a href="/admin/engineer?id=<%= engineer_id %>">
          <img src="<%= translations.first[:image] %>" width="55" height="55" style="float: left; margin-right: 3px;">
          <% translations.each do |translation| %>
           <% unless translation[:lang] %>
              <span style="color: red">Немає перекладів</span>
            <% else %>
              <%= translation[:name] %> (<%= LANGS[translation[:lang]] %>)
              <br>
            <% end %>
          <% end %>
        </a>
      </p>
      <div style="clear: left"></div>
    <% end %>
  </div>
</div>
