<div class="article">
  <h2>Блок головної сторінки</h2>
  <p style="color: red;"><%= error %></p>
  <form action="/admin/slider" method="post">
    <input type="hidden" name='id' value="<%= slider[:id] %>">
    <input type="hidden" role="uploadcare-uploader" name="slider[image_1]" value="<%= slider[:image_1] %>" data-images-only="true" data-crop="16:9">
    <br>
    <input type="hidden" role="uploadcare-uploader" name="slider[image_2]" value="<%= slider[:image_2] %>" data-images-only="true" data-crop="16:9">
    <br>
    <input type="hidden" role="uploadcare-uploader" name="slider[image_3]" value="<%= slider[:image_3] %>" data-images-only="true" data-crop="16:9">
    <br>
    <input type="hidden" role="uploadcare-uploader" name="slider[image_4]" value="<%= slider[:image_4] %>" data-images-only="true" data-crop="16:9">
    <br>
    <input type="hidden" role="uploadcare-uploader" name="slider[image_5]" value="<%= slider[:image_5] %>" data-images-only="true" data-crop="16:9">
    <br>
    <br>
    <div class="two-col">
      <div class="first-col">
        <label>Текст англійською</label>
        <br>
        <br>
        <br>
        <br>
        <br>
        <label>Текст українською</label>
        <br>
        <br>
        <br>
        <br>
        <label>Текст російською</label>
      </div>
      <div class="col">
        <textarea rows="6" cols="50" name="slider[text_en]"><%= slider[:text_en] %></textarea>
        <br>
        <textarea rows="6" cols="50" name="slider[text_ua]"><%= slider[:text_ua] %></textarea>
        <br>
        <textarea rows="6" cols="50" name="slider[text_ru]"><%= slider[:text_ru] %></textarea>
        <br>
      </div>
    </div>
    <button type="submit">Зберегти</button>
  </form>
</div>
