<h3>Статті</h3>
<%= articles.count %> статей на сайті
<br>
<a href="/article">Нова сторінка</a>
<br>
<form action="/article" method="get">
  <input type="hidden" name="dup" value="1">
  Дублювати сторінку
  <select name="id">
    <% articles.each do |article| %>
      <option value="<%= article[:id] %>"><%= article[:title] %> [<%= LANGS[article[:lang]] %>]</option>
    <% end %>
  </select>
  на
  <select name="lang">
    <% LANGS.each_with_index do |lang, code| %>
      <option value="<%= code %>"><%= lang %></option>
    <% end %>
  </select>
  <button>Дублювати</button>
</form>
<ul>
  <% LANGS.each_with_index do |lang, code| %>
  <h4><%= lang %></h4>
    <% articles.where(parent_id: nil, lang: code).each do |article| %>
      <li>
        <a href="/article?id=<%= article[:id] %>">
          [ID:<%= article[:id] %>] <%= article[:title] %> [<%= LANGS[article[:lang]] %>]
        </a>
        <ul>
          <% articles.where(parent_id: article[:id]).each do |article_1| %>
            <li>
              <a href="/article?id=<%= article_1[:id] %>">
                [ID:<%= article_1[:id] %>] <%= article_1[:title] %> [<%= LANGS[article_1[:lang]] %>]
              </a>
              <ul>
              </ul>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  <% end %>
</ul>
<h3>Команда</h3>

<%= articles.count %> людей на сайті
