<script>
  document.addEventListener('DOMContentLoaded', function(){
    var mySwiper = new Swiper ('.swiper-container', {
      loop: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      }
    })
  })
</script>
<main class="home">
  <div class="content">
    <div class="text-top">
      <%= sliders.first[locale[:text]] %>
    </div>
    <div class="swiper-container swiper-top">
      <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image: url('<%= sliders.first[:image_1] %>')"></div>
          <% if sliders.first[:image_2] %>
            <div class="swiper-slide" style="background-image: url('<%= sliders.first[:image_2] %>')"></div>
          <% end %>
          <% if sliders.first[:image_3] %>
            <div class="swiper-slide" style="background-image: url('<%= sliders.first[:image_3] %>')"></div>
          <% end %>
          <% if sliders.first[:image_4] %>
            <div class="swiper-slide" style="background-image: url('<%= sliders.first[:image_4] %>')"></div>
          <% end %>
          <% if sliders.first[:image_5] %>
            <div class="swiper-slide" style="background-image: url('<%= sliders.first[:image_5] %>')"></div>
          <% end %>
      </div>
    </div>
  </div>
  <% sliders.all[1..-1].each do |slider| %>
    <div class="content">
      <div class="text-bottom">
        <%= slider[locale[:text]] %>
      </div>
      <div class="swiper-container swiper-bottom">
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image: url('<%= slider[:image_1] %>')"></div>
          <% if slider[:image_2] %>
            <div class="swiper-slide" style="background-image: url('<%= slider[:image_2] %>')"></div>
          <% end %>
          <% if slider[:image_3] %>
            <div class="swiper-slide" style="background-image: url('<%= slider[:image_3] %>')"></div>
          <% end %>
          <% if slider[:image_4] %>
            <div class="swiper-slide" style="background-image: url('<%= slider[:image_4] %>')"></div>
          <% end %>
          <% if slider[:image_5] %>
            <div class="swiper-slide" style="background-image: url('<%= slider[:image_5] %>')"></div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</main>
