<!DOCTYPE html>
<html>
<head>
  <title>Gold Search - <%= title %></title>
  <meta content="width=device-width, initial-scale=1.00, maximum-scale=2.00, minimum-scale=1.00" name="viewport" />
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
  <meta name="description" content="<%= locale[:description] %>" />
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148892964-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-148892964-1');
</script>
</head>
<body class="bg01">
  <header class="hidden md:block bottom-0 inset-x-0 py-3 md:py-0 relative tracking-wider">
    <div class="cc flex mx-auto text-xl text-center tracking-wide">
      <a class="flex-1 hover:text-gray-500" href="mailto:notebooc@gmail.com">notebooc@gmail.com</a>
      <a class="flex-1 hover:text-gray-500" href="tel:+380964538453">+380 96 453 8 453</a>
      <a class="flex-1 hover:text-gray-500" href="tel:+380735070111">+380 73 5070 111</a>
    </div>
  </header>
  <header class="tracking-wider">
    <div class="bg02 shadow-lg rounded flex items-center justify-between mt-2 md:mt-0 px-2 mx-2 xl:mx-auto cc">
      <div class="">
        <a href="<%= locale[:home_link] %>">
          <img class="inline-block absolute h-12 w-12" srcset="/images/logo2x.png 2x" src="/images/logo2.png">
          <div class="inline-block moto">
            <div class="text-center text-3xl">Gold Search</div>
            <div class="text-sm text-center tracking-wider" style="margin-top:-11px;">MENTE ET MALLEO</div>
          </div>
        </a>
      </div>
      <nav class="hidden sm:block text-2xl uppercase">
        <a class="hidden md:inline md:mr-1 lg:mr-3 <%= highlight?(nav_high, locale[:home_link]) %>" href="<%= locale[:home_link] %>"><%= locale[:main] %></a>
        <% nav.where(parent_id: nil, lang: lang).each do |article| %>
          <div class="dropdown inline-block relative">
            <a class="md:mr-1 lg:mr-3 md:ml-1 lg:ml-3 <%= highlight?(nav_high, article[:slug]) %>" href="/<%= article[:slug] %>"><%= article[:title] %></a>
            <div class="dropdown-window bg02 pb-2 pt-0 shadow-lg">
              <% nav.where(parent_id: article[:id]).each do |article_1| %>
                <a class="block rounded hover:bg-gray-900 mr-1 lg:mr-3 ml-1 lg:ml-3" href="/<%= article_1[:slug] %>"><%= article_1[:title] %></a>
              <% end %>
            </div>
          </div>
        <% end %>
        <a class="md:ml-1 lg:ml-3 <%= highlight?(nav_high, 'team') %>" href="<%= locale[:team_link] %>"><%= locale[:header] %></a>
      </nav>
      <div class="text-2xl">
        <% if lang == 1 %>
          <a href="/">EN</a>
          <a href="/главная">RU</a>
        <% elsif lang == 2 %>
          <a href="/">EN</a>
          <a href="/головна">UA</a>
        <% else %>
          <a href="/головна">UA</a>
          <a href="/главная">RU</a>
        <% end %>
      </div>
      <div class="dropdown sm:hidden">
        <button type="button" class="">
          &#9776;
        </button>
        <div class="dropdown-window bg02 p-2 pt-0 right-0 mr-2 leading-tight">
          <a class="block rounded hover:bg-gray-900" href="<%= locale[:home_link] %>"><%= locale[:main] %></a>
          <% nav.where(parent_id: nil, lang: lang).each do |article| %>
            <a class="block rounded hover:bg-gray-900" href="/<%= article[:slug] %>"><%= article[:title] %></a>
            <% nav.where(parent_id: article[:id]).each do |article_1| %>
            <a class="block rounded hover:bg-gray-900 ml-3" href="/<%= article_1[:slug] %>"><%= article_1[:title] %></a>
            <% end %>
          <% end %>
          <a href="<%= locale[:team_link] %>"><%= locale[:header] %></a>
        </div>
      </div>
    </div>
  </header>
  <%= yield %>
  <div class="clearfix pb-16"></div>
  <footer class="fixed md:static bottom-0 inset-x-0 py-3 md:py-0 md:mb-2 tracking-wider">
    <div class="bg02 shadow-lg rounded flex mx-2 xl:mx-auto text-xl text-center cc">
      <a class="flex-1 hover:text-gray-500" href="mailto:notebooc@gmail.com">notebooc@gmail.com</a>
      <a class="flex-1 hover:text-gray-500" href="tel:+380964538453">+380 96 453 8 453</a>
      <a class="flex-1 hover:text-gray-500 hidden md:block" href="tel:+380735070111">+380 73 5070 111</a>
    </div>
  </footer>
</body>
</html>
