<main>
  <div class="content">
    <h1><%= specialty[locale[:name]] %></h1>
      <% engineers.each do |engineer| %>
        <div class="engineer">
          <div class="portrait">
          <img src="<%= engineer[:image] %>">
        </div>
          <h2><%= engineer[:name] %></h2>
          <h3><%= engineer[:specialty] %></h3>
          <p class="resume"><%= "#{human_age(engineer[:birthday], lang)}, #{engineer[:resume]}" %></p>
          <a href="<%= slug %>/<%= engineer[:slug] %>"><%= locale[:more] %></a>
        </div>
      <% end %>
    </div>
</main>
