<main>
  <div class="container mx-auto cc">
    <h1><%= locale[:header] %></h1>
    <div class="flex flex-wrap justify-center">
      <% specialties.each do |specialty| %>
        <div class="flex-1 bg-cover py-20 m-3 text-center max-w-sm" style="min-width:350px; background-image: url('<%= specialty[:image] %>')">
          <a href="<%= slug %>/<%= specialty[locale[:slug]] %>">
            <%= specialty[locale[:name]] %>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</main>
